resources/ExampleSources4Thesis/pelda_xsd.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="PTE-PMMIK">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hallgato" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nev" type="xs:string"/>
							<xs:element name="kor" type="xs:integer"/>
						</xs:sequence>
						<xs:attribute name="szak" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>